  /* grid embedded System */
  .grid-embteam {
    background-color: #72bfec;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
  /* grid capstone team */
  .grid-capstone {
    background-color: #f08ca7;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
  /* grid electrical Teams */
  .grid-elteam {
    background-color: #e4f08c;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
  