/* CSS for tiles */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px;
}

.grid-container img {

  max-width: 100%;
  max-height: auto;
}

.grid-content {
  padding: 20px;
}

.grid-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

.grid-description {
  font-size: 16px;
  line-height: 1.5;
}

/* CSS for specific tiles */


.grid-cad {
  background-color: #f0e88c;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  padding: 20px;
  text-align: center;

}

.grid-elec {
  background-color: #8cc5f0;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.grid-teams {
  background-color: #f08c8c;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}