/* CSS for tiles */
/* CSS for specific tiles */

.grid-cad {
  background-color: #f0e88c;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  padding: 20px;
  text-align: center;

}

.grid-elec {
  background-color: #8cc5f0;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.grid-teams {
  background-color: #f08c8c;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.grid-add {
  background-color: #8cf0a1;
  border: 1px soFlid #4d4d4d;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}
