/* CSS for tiles */
/* CSS for specific tiles */

.grid-form {
  background-color: #679f53;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  padding: 1%;
}
.grid-form h2{
  text-align: center;
  
}
.grid-form label{
  margin-bottom: 1.5%;
  text-align: left;
  font-weight: bold;
  display: inline-block;
  width: 28%;
  padding: 0%;
}
.grid-form input{
  display: inline-block;
  width: 69%;
  min-height: 20px;
  padding: 0%;
  background-color: #424242;
  border: 1px solid #000000;
  color: #ffffff;
}

.grid-form textarea{
  display: inline-block;
  min-width: 69%;
  max-width: 69%;
  min-height: 20px;
  max-height: 100%;
  padding: 0%;
  background-color: #424242;
  border: 1px solid #000000;
}




.grid-form input[type="submit"]
{
  padding-right: 0px;
  display: block;
  width: 25%;
  margin: 0 auto;
  background-color: #424242;
  border-radius: 10px;
  color: #000000;
}