/* CSS for tiles */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.grid:hover {
  transform: translateY(-10px);
}

.grid-container img {
  max-width: 100%;
  height: auto;
}

.grid-content {
  padding: 20px;
}

.grid-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

.grid-description {
  font-size: 16px;
  line-height: 1.5;
}

/* CSS for specific tiles */
.grid-matlab {
  background-color: #e18c62;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.grid-tello {
  background-color: #e1b162;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.grid-roboarm {
  background-color: #b0dd88;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.grid-evs {
  background-color: #5fbcea;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.grid-proimp {
  background-color: #bb50d9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.grid-csuite {
  background-color: #627be1;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.grid-python {
  background-color: #e1b162;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.grid-labview {
  background-color: #dddc88;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.grid-html {
  background-color: #dda988;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.grid-java {
  background-color: #62bde1;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}