.grid-matlab {
  background-color: #e18c62;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}


.grid-python {
  background-color: #e1b162;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}


.grid-labview {
  background-color: #dddc88;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.grid-csuite {
  background-color: #627be1;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.grid-java {
  background-color: #e18cf0;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.grid-html {
  background-color: #dda988;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}