<!DOCTYPE html>
<html>

<head>
  <%- include('../const/head') %>
  <link rel = "stylesheet" href = "/css/tiles/software/tiles-html5.css">
    <title>HTML and WebServer Experience</title>
</head>

<body>
  <header>
    <%- include('../const/header') %>
      <h1>HTML & WebServer Experience</h1>
  </header>
  <main>
    <!-- Grid layout for live tiles -->
    <div class="grid-container">
      <!-- Grid Booking -->
      <div class="grid-booking">
        <h2>Vacation Rental Booking</h2>
        <img src=/images/projects/booking.png alt="booking">
        <p>Insert Text</p>
      </div>
      <!-- Grid Menu -->
      <div class="grid-menu">
        <h2>Restaurant Websites</h2>
        <img src="/images/projects/menu.png" alt="menu">
        <p>insert</p>
        <div>
          <progress id="file" max="100" value="30"> 30%
          </progress>
        </div>
        <span class="progress-text">3 Years Experience</span>
        <div>
          <progress id="file" max="100" value="67"> 67%
          </progress>
        </div>
        <span class="progress-text">Medium Technical Knowledge</span>
      </div>
      <!-- Grid Java Server -->
      <div class="grid-javaserver">
        <h2>Web DevOps Overview</h2>
        <img src="/images/projects/javaserver.png" alt="server">
        <p>Object-Based C</p>
        <div>
          <progress id="file" max="100" value="20"> 20%
          </progress>
        </div>
        <span class="progress-text">2 Years Experience</span>
        <div>
          <progress id="file" max="100" value="100"> 100%
          </progress>
        </div>
        <span class="progress-text">High Technical Knowledge</span>
      </div>
      <!-- Add more tiles as needed... -->
    </div>
  </main>
  <footer>
    <%- include('../const/footer') %>
  </footer>
</body>

</html>