<!DOCTYPE html>
<html>

<head>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Noah Asherbranner's ePortfolio">
  <meta name="twitter:image" content="https://noaha.tech/images/icons/status/onlineembed.png">
  <meta name="twitter:description" content="ePortfolio - Java Experience">
  <meta property="og:title" content="Noah Asherbranner's ePortfolio">
  <meta property="og:description" content="ePortfolio - Java Experience">
  <meta property="og:image" content="https://noaha.tech/images/icons/status/onlineembed.png">
  <meta property="og:url" content="https://noaha.tech/software/java">
  <meta property="og:type" content="website">
  <meta name="description" content="ePortfolio - Java Experience">
  <link rel="stylesheet" href="/css/tiles/software/tiles-java.css">
  <title>Java Experience</title>
  <%- include('../const/head') %>
</head>

<body>
  <header>
    <%- include('../const/header') %>
      <h1>Java Experience</h1>
  </header>
  <main>
    <!-- Grid layout for live tiles -->
    <div class="grid-container">
      <!-- Grid FRC -->
      <div class="grid-frc">
        <h2>FIRST Robotics Competition</h2>
        <img src="/images/projects/frc.png" alt="frc">
        <p>Object-Based C</p>
        <div>
          <progress id="file" max="100" value="20"> 20%
          </progress>
        </div>
        <span class="progress-text">2 Years Experience</span>
        <div>
          <progress id="file" max="100" value="100"> 100%
          </progress>
        </div>
        <span class="progress-text">High Technical Knowledge</span>
      </div>
      <!-- Grid Java Server -->
      <div class="grid-javaserver">
        <h2>Java Server DevOps</h2>
        <img src="/images/projects/javaserver.png" alt="server">
        <p>Object-Based C</p>
        <div>
          <progress id="file" max="100" value="20"> 20%
          </progress>
        </div>
        <span class="progress-text">2 Years Experience</span>
        <div>
          <progress id="file" max="100" value="100"> 100%
          </progress>
        </div>
        <span class="progress-text">High Technical Knowledge</span>
      </div>
      <!-- Grid Plugins -->
      <div class="grid-plugins">
        <h2>Java Server Plugins</h2>
        <img src="/images/projects/plugins.png" alt="plugins">
        <p>Object-Based C</p>
        <div>
          <progress id="file" max="100" value="20"> 20%
          </progress>
        </div>
        <span class="progress-text">2 Years Experience</span>
        <div>
          <progress id="file" max="100" value="100"> 100%
          </progress>
        </div>
        <span class="progress-text">High Technical Knowledge</span>
      </div>

      <!-- Add more tiles as needed... -->
    </div>
    <div class="fill"></div>
    <!-- CSS styles for grid layout -->
  </main>
  <footer>
    <%- include('../const/footer') %>
  </footer>
</body>

</html>