<!DOCTYPE html>
<html>

<head>
  <%- include('../const/head') %>
    <link rel="stylesheet" href="/css/tiles/software/tiles-labview.css">
    <title>LabView Experience</title>
</head>

<body>
  <header>
    <%- include('../const/header') %>
      <h1>LabView Experience</h1>
  </header>
  <main>
    <!-- Grid layout for live tiles -->
    <div class="grid-container">
      <!-- Grid FTC -->
      <div class="grid-ftc">
        <h2>First Tech Challenge</h2>
        <img src=/images/projects/ftc.png alt="ftc">
        <p>Insert Text</p>
      </div>
      <!-- Grid FRC -->
      <div class="grid-frc">
        <h2>FIRST Robotics Competition</h2>
        <img src="/images/projects/frc.png" alt="frc">
        <p>Object-Based C</p>
        <div>
          <progress id="file" max="100" value="20"> 20%
          </progress>
        </div>
        <span class="progress-text">2 Years Experience</span>
        <div>
          <progress id="file" max="100" value="100"> 100%
          </progress>
        </div>
        <span class="progress-text">High Technical Knowledge</span>
      </div>


      <!-- Add more tiles as needed... -->
    </div>

    <!-- CSS styles for grid layout -->
  </main>
  <footer>
    <%- include('../const/footer') %>
  </footer>
</body>

</html>