<!DOCTYPE html>
<html>

<head>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Noah Asherbranner's ePortfolio">
  <meta name="twitter:image" content="https://noaha.tech/images/icons/status/onlineembed.png">
  <meta name="twitter:description" content="ePortfolio - Labview Experience">
  <meta property="og:title" content="Noah Asherbranner's ePortfolio">
  <meta property="og:description" content="ePortfolio - Labview Experience">
  <meta property="og:image" content="https://noaha.tech/images/icons/status/onlineembed.png">
  <meta property="og:url" content="https://noaha.tech/software/labview">
  <meta property="og:type" content="website">
  <meta name="description" content="ePortfolio - Labview Experience">
  <link rel="stylesheet" href="/css/tiles/software/tiles-labview.css">
  <title>LabView Experience</title>
  <%- include('../const/head') %>
</head>

<body>
  <header>
    <%- include('../const/header') %>
      <h1>LabView Experience</h1>
  </header>
  <main>
    <!-- Grid layout for live tiles -->
    <div class="grid-container">
      <!-- Grid FTC -->
      <div class="grid-ftc">
        <h2>First Tech Challenge</h2>
        <img src=/images/projects/ftc.png alt="ftc">
        <h2></h2>
        <div>
          <progress id="file" max="100" value="100"> 100%
          </progress>
        </div>
        <span class="progress-text">10 Years Experience</span>
        <div>
          <progress id="file" max="100" value="100"> 100%
          </progress>
        </div>
        <span class="progress-text">Robotics Summer Camp Lead</span>
        <div>
          <progress id="file" max="100" value="100"> 100%
          </progress>
        </div>
        <span class="progress-text">GTHSRC Software Training Camp Lead</span>
        <div>
          <progress id="file" max="100" value="95"> 95%
          </progress>
        </div>
        <span class="progress-text">2014 Best Rookie Team Award FTC</span>
        </div>
        <!-- Grid FRC -->
      <div class="grid-frc">
        <h2>FIRST Robotics Competition</h2>
        <img src="/images/projects/frc.png" alt="frc">
        <h2></h2>
        <div>
          <progress id="file" max="100" value="90"> 90%
          </progress>
        </div>
        <span class="progress-text">9 Years Experience</span>
        <div>
          <progress id="file" max="100" value="100"> 100%
          </progress>
        </div>
        <span class="progress-text">Comp. Program - Human Input </span>
        <div>
          <progress id="file" max="100" value="100"> 100%
          </progress>
        </div>
        <span class="progress-text">Demonstration - "DinnerBot"</span>
        <div> 
          <progress id="file" max="100" value="90"> 90%
          </progress>
        </div> 
        <span class="progress-text">Demonstration - Vision</span>
        <div>
          <progress id="file" max="100" value="85"> 85%
          </progress>
        </div>
        <span class="progress-text">Comp. Program - Autonomous</span>
      </div>


      <!-- Add more tiles as needed... -->
    </div>
    <div class="fill"></div>
    <!-- CSS styles for grid layout -->
  </main>
  <footer>
    <%- include('../const/footer') %>
  </footer>
</body>

</html>