<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="/public/style.css">
    <title>About Me</title>
  </head>
  <body>
    <h1>All about Noah!</h1>
    <footer>
      <p>&copy; 2023 Noah Asherbranner. All rights reserved.</p>
    </footer>
  </body>
</html>