<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="/css/main.css">
    <title>About Me</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
		      <li><a href="/engineering">Engineering</a></li>
		      <li><a href="/software">Software</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>
    <h1>All about Noah Asherbranner - Robotics Engineer, Full-Stack Developer!</h1>
    <footer>
      <p>&copy; 2023 Noah Asherbranner. All rights reserved.</p>
    </footer>
  </body>
</html>