<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/main.css">
  <title>About Me</title>
</head>

<body>
  <%- include('header') %>
    <h1>All about Noah Asherbranner - Robotics Engineer, Full-Stack Developer!</h1>
    </div>
    </header>
    <main>
      <div>
        <h2>Here you can learn more about me and my background...</h2>
      </div>
    </main>
    <footer>
      <p>&copy; 2023 Noah Asherbranner. All rights reserved.</p>
    </footer>
</body>

</html>