<!DOCTYPE html>
<html>

<head>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/main.css">
  <title>About Me</title>
</head>

<body>
  <header>
    <%- include('header') %>
    <h1>Noah Asherbranner</h1>
    <h1>Robotics Engineer, Full-Stack Developer</h1>
  </header>
    <main>
      <div>
        <h2>Here you can learn more about me and my background...</h2>
      </div>
    </main>
    <footer>
      <%- include('footer') %>
    </footer>
</body>

</html>