<!DOCTYPE html>
<html>

<head>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Noah Asherbranner's ePortfolio">
  <meta name="twitter:image" content="https://noaha.tech/images/icons/status/onlineembed.png">
  <meta name="twitter:description" content="ePortfolio - Contact Noah!">
  <meta property="og:title" content="Noah Asherbranner's ePortfolio">
  <meta property="og:description" content="ePortfolio - Contact Noah!">
  <meta property="og:image" content="https://noaha.tech/images/icons/status/onlineembed.png">
  <meta property="og:url" content="https://noaha.tech/contact">
  <meta property="og:type" content="website">
  <meta name="description" content="ePortfolio - Contact Noah!">
  <link rel="stylesheet" href="/css/tiles/tiles-contact.css">
  <title>Contact Noah!</title>
  <%- include('const/head') %>
</head>

<body>
  <header>
    <%- include('const/header') %>
      <h1>Contact Noah!</h1>
  </header>
  <main>
    <div class="grid-container">
      <div class="grid-form">
        <h2>Submissions are sent to my email. I will reply ASAP.</h2>
        <form action="/contactform" method="POST">
          <div>
            <label for="contactname">Name:</label>
            <input type="text" id="contactname" name="contactname" required>
          </div>
          <div>
            <label for="contactemail">Email:</label>
            <input type="email" id="contactemail" name="contactemail" required>
          </div>
          <div>
            <label for="contactphone">Phone:</label>
            <input type="tel" id="contactphone" name="contactphone">
          </div>
          <div>
            <label for="contactmessage">Message:</label>
            <textarea id="contactmessage" name="contactmessage" required></textarea>
          </div>
          <div>
            <input type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
    <div class="fill"></div>
  </main>
  <footer>
    <%- include('const/footer') %>
  </footer>
</body>

</html>