<!DOCTYPE html>
<html>

<head>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/main.css">
  <title>Engineering Design</title>
</head>

<body>
  <header>
  <%- include('header') %>
    <h1>Engineering Skills</h1>
    </header>

    <footer>
      <p>&copy; 2023 Noah Asherbranner. All rights reserved.</p>
    </footer>
</body>

</html>