<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="/css/main.css">
    <title>Engineering Design</title>
  </head>
  <body>
    <h1>Engineering Design Projects</h1>
    <footer>
      <p>&copy; 2023 Noah Asherbranner. All rights reserved.</p>
    </footer>
  </body>
</html>