<!DOCTYPE html>
<html>

<head>
  <%- include('head') %>
  <title>Engineering Design</title>
</head>

<body>
  <header>
    <%- include('header') %>
      <h1>Engineering Skills</h1>
  </header>

  <main>


  </main>

  <footer>
    <%- include('footer') %>
  </footer>
</body>

</html>