<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    
        <p>&copy; 2023 Noah Asherbranner. All rights reserved.</p>
        <p> Developed using Node.js, Express, and EJS</p>
        <a href="https://github.com/noah-asherbranner/portfolio" target="_blank"><img src="/images/logos/sites/github.png" alt="github"></a>
        <a href="https://www.linkedin.com/in/noah-asherbranner/" target="_blank"><img src="/images/logos/sites/linkedin.png" alt="linkedin"></a>
    
</body>

</html>