<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

  <p>&copy; 2023 Noah Asherbranner. All rights reserved.</p>
  <p>Developed using Node.js, Express, and EJS. Written in Visual Studio Code.</p>
  <a href="https://github.com/noah-asherbranner/portfolio" target="_blank"><img src="/images/logos/sites/github.png"
      alt="github"></a>
  <a href="https://www.linkedin.com/in/noah-asherbranner/" target="_blank"><img src="/images/logos/sites/linkedin.png"
      alt="linkedin"></a>

</body>

</html>