<!DOCTYPE html>
<html>

<head>
  <%- include('const/head') %>
    <title>Noah's ePortfolio</title>
</head>

<body>
  <header>
    <%- include('const/header') %>
      <h1>Noah's Digital Portfolio</h1>

  </header>
  <main>
    <div>
      <p>test</p>
      <p>Here you can see some of my past projects and learn more about me...</p>
      <a href=/projects class="btn">View Projects</a>
    </div>
  </main>
  <footer>
    <%- include('const/footer') %>
  </footer>
</body>

</html>