<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/css/main.css">  
  </head>
  <body>
    <header>
      <%- include('header') %>
      <h1>Welcome to My Portfolio</h1>
    </div>
    </header>
    <main>
      <div>
      <p>Here you can see some of my past projects and learn more about me...</p>
      <a href="/projects" class="btn">View Projects</a>
    </div>
    </main>
    <footer>
      <p>&copy; 2023 Noah Asherbranner. All rights reserved.</p>
    </footer>
  </body>
</html>