<!DOCTYPE html>
<html>

<head>
  <title>Software Projects</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href=/css/main.css>
  <link rel="stylesheet" href=/css/progress-bar/progress-bar.css>
  <link rel="stylesheet" href=/css/tiles/tiles.css>
</head>

<body>
  <header>
    <%- include('header') %>
      <h1>HTML & WebServer Experience</h1>
  </header>
    <main>
      <!-- Grid layout for live tiles -->
      <div class="grid-container">
        <!-- Project 1: project name, image, and description -->
        <div class="grid-tello">
            <h2>DJI Tello</h2>
            <img src=/images/projects/tello.png alt="tello">
              <p>Insert Text</p>
            <div>
              
            </div>
        </div>

        <!-- Project 2: project name, image, and description -->
        <div class="grid-roboarm">
          <h2>Robotic Arm</h2>
          <img src="/images/projects/roboarm.png" alt="roboarm">
          <p>insert</p>
          <div class="progress">
            <progress id="file" max="100" value="30"> 30%
            </progress>
          </div>
          <span class="progress-text">3 Years Experience</span>
          <div>
            <progress id="file" max="100" value="67"> 67%
            </progress>
          </div>
          <span class="progress-text">Medium Technical Knowledge</span>
          <div>
            
          </div>
        </div>


        <!-- Project 3: project name, image, and description -->
        <div class="grid-evs">
          <h2>EV Modeling</h2>
          <img src="/images/projects/ev.png" alt="ev">
          <p>Autodesk</p>
          <div class="progress">
            <progress id="file" max="100" value="50"> 50%
            </progress>
          </div>
          <span class="progress-text">5 Years Experience</span>
          <div>
            <progress id="file" max="100" value="67"> 67%
            </progress>
          </div>
          <span class="progress-text">Medium Technical Knowledge</span>
          <div>
            
          </div>
        </div>


        <!-- Project 4: project name, image, and description -->
        <div class="grid-proimp">
          <h2>Process Improvement</h2>
          <img src="/images/projects/proimp.png" alt="Proimp">
          <p>Object-Based C</p>
          <div class="progress">
            <progress id="file" max="100" value="20"> 20%
            </progress>
          </div>
          <span class="progress-text">2 Years Experience</span>
          <div>
            <progress id="file" max="100" value="100"> 100%
            </progress>
          </div>
          <span class="progress-text">High Technical Knowledge</span>
          <div>
            
          </div>
        </div>


        <!-- Add more tiles as needed... -->
      </div>

      <!-- CSS styles for grid layout -->
    </main>
    <footer>
      <p>&copy; 2023 Noah Asherbranner. All rights reserved.</p>
    </footer>
  </body>
</html>