<!DOCTYPE html>
<html>

<head>
  <title>Software Projects</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href=/css/main.css>
  <link rel="stylesheet" href=/css/progress-bar/progress-bar.css>
  <link rel="stylesheet" href=/css/tiles/tiles.css>
</head>

<body>
  <header>
    <%- include('header') %>
      <h1>Software Projects</h1>
  </header>
    <main>
      <!-- Grid layout for live tiles -->
      <div class="grid-container">
        <!-- Project 1: project name, image, and description -->
        <div class="grid-matlab">
            <h2>MATLAB</h2>
            <img src=/images/logos/lang/matlab.png alt="Matlab Projects">
            <div class="progress">
              <progress id="file" max="100" value="40"> 40%
              </progress>
            </div>
            <span class="progress-text">4 Years Experience - 2 Active Projects</span>
            <div>
              <progress id="file" max="100" value="100"> 67%
              </progress>
            </div>
            <span class="progress-text">Medium Technical Complexity</span>
            <div>
              <a href="/Matlab" class="btn">View Projects</a>
            </div>
        </div>
          



        <!-- Project 2: project name, image, and description -->
        <div class="grid-item-project-2">
          <h2>Project 2</h2>
          <img src="/images/project2.jpg" alt="Project 2">
          <p>Multisim</p>
          <div class="progress">
            <progress id="file" max="100" value="30"> 30%
            </progress>
          </div>
          <span class="progress-text">3 Years Experience</span>
          <div>
            <progress id="file" max="100" value="67"> 67%
            </progress>
          </div>
          <span class="progress-text">Medium Technical Knowledge</span>
          <div>
            <a href="#" class="btn">View Project</a>
          </div>
        </div>


        <!-- Project 3: project name, image, and description -->
        <div class="grid-item-project-3">
          <h2>Project 3</h2>
          <img src="/images/project3.jpg" alt="Project 3">
          <p>Autodesk</p>
          <div class="progress">
            <progress id="file" max="100" value="50"> 50%
            </progress>
          </div>
          <span class="progress-text">5 Years Experience</span>
          <div>
            <progress id="file" max="100" value="67"> 67%
            </progress>
          </div>
          <span class="progress-text">Medium Technical Knowledge</span>
          <div>
            <a href="#" class="btn">View Project</a>
          </div>
        </div>


        <!-- Project 4: project name, image, and description -->
        <div class="grid-item-project-4">
          <h2>Project 4</h2>
          <img src="/images/project4.jpg" alt="Project 4">
          <p>Object-Based C</p>
          <div class="progress">
            <progress id="file" max="100" value="20"> 20%
            </progress>
          </div>
          <span class="progress-text">2 Years Experience</span>
          <div>
            <progress id="file" max="100" value="100"> 100%
            </progress>
          </div>
          <span class="progress-text">High Technical Knowledge</span>
          <div>
            <a href="#" class="btn">View Project</a>
          </div>
        </div>


        <!-- Add more tiles as needed... -->
      </div>

      <!-- CSS styles for grid layout -->
      <style>
      </style>
    </main>
    <footer>
      <p>&copy; 2023 Noah Asherbranner. All rights reserved.</p>
    </footer>
</body