<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="/public/style.css">
    <title>Projects</title>
  </head>
  <body>
    <h1>Here are some of the projects I am most passionate about and proud of!</h1>
    <footer>
      <p>&copy; 2023 Noah Asherbranner. All rights reserved.</p>
    </footer>
  </body>
</html>