<!DOCTYPE html>
<html>

<head>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/main.css">
  <title>Projects</title>
</head>

<body>
  <header>
    <%- include('header') %>
    <h1>Miscellaneous Projects</h1>
  </header>

  <footer>
    <%- include('footer') %>
  </footer>
</body>

</html>