<!DOCTYPE html>
<html>

<head>
  <%- include('const/head') %>
    <title>Projects</title>
</head>

<body>
  <header>
    <%- include('const/header') %>
      <h1>Miscellaneous Projects</h1>
  </header>

  <footer>
    <%- include('const/footer') %>
  </footer>
</body>

</html>