<!DOCTYPE html>
<html>

<head>
  <%- include('head') %>
    <title>Software Projects</title>
</head>

<body>
  <header>
    <%- include('header') %>
      <h1>Python Experience</h1>
  </header>
  <main>
    <!-- Grid layout for live tiles -->
    <div class="grid-container">
      <!-- Grid Tello -->
      <div class="grid-tello">
        <h2>DJI Tello</h2>
        <img src=/images/projects/tello.png alt="tello">
        <p>Insert Text</p>
        <div>

        </div>
      </div>

      <!-- Grid Robotic Arm -->
      <div class="grid-roboarm">
        <h2>Robotic Arm</h2>
        <img src="/images/projects/roboarm.png" alt="roboarm">
        <p>insert</p>
        <div class="progress">
          <progress id="file" max="100" value="30"> 30%
          </progress>
        </div>
        <span class="progress-text">3 Years Experience</span>
        <div>
          <progress id="file" max="100" value="67"> 67%
          </progress>
        </div>
        <span class="progress-text">Medium Technical Knowledge</span>
        <div>

        </div>
      </div>


      <!-- Grid Pipetool -->
      <div class="grid-pipetool">
        <h2>Cost & Labor Simulation</h2>
        <img src="/images/projects/pipetool.png" alt="pipetool">
        <p>Autodesk</p>
        <div class="progress">
          <progress id="file" max="100" value="50"> 50%
          </progress>
        </div>
        <span class="progress-text">5 Years Experience</span>
        <div>
          <progress id="file" max="100" value="67"> 67%
          </progress>
        </div>
        <span class="progress-text">Medium Technical Knowledge</span>
        <div>

        </div>
      </div>


      <!-- Grid Embedded Systems -->
      <div class="grid-embsys">
        <h2>Embedded Systems</h2>
        <img src="/images/projects/embsys.png" alt="embsys">
        <p>Object-Based C</p>
        <div class="progress">
          <progress id="file" max="100" value="20"> 20%
          </progress>
        </div>
        <span class="progress-text">2 Years Experience</span>
        <div>
          <progress id="file" max="100" value="100"> 100%
          </progress>
        </div>
        <span class="progress-text">High Technical Knowledge</span>
        <div>

        </div>
      </div>


      <!-- Add more tiles as needed... -->
    </div>

    <!-- CSS styles for grid layout -->
  </main>
  <footer>
    <%- include('footer') %>
  </footer>
</body>

</html>