<!DOCTYPE html>
<html>

<head>
  <%- include('const/head') %>
    <link rel="stylesheet" href="/css/tiles/tiles-software.css">
    <title>Software Projects</title>
</head>

<body>
  <header>
    <%- include('const/header') %>
      <h1>Software Projects</h1>
  </header>
  <main>
    <!-- Grid layout for live tiles -->
    <div class="grid-container">

      <!-- Grid Matlab -->
      <div class="grid-matlab">
        <h2>MATLAB</h2>
        <a href="software/matlab"><img src=/images/logos/lang/matlab.png alt="Matlab"></a>
        <div>
          <progress id="matexp" max="110" value="50"> 50%
          </progress>
        </div>
        <span class="progress-text">5 Years Experience</span>
        <div>
          <progress id="actmat" max="100" value="40"> 40%
          </progress>
        </div>
        <span class="progress-text">2 Active Projects</span>
        <div>
          <progress id="datia" max="100" value="90"> 90%
          </progress>
        </div>
        <span class="progress-text">Data Import & Analysis</span>
        <div>
          <progress id="simenv" max="100" value="80"> 80%
          </progress>
        </div>
        <span class="progress-text">Simulation Environments</span>
        <div>
          <progress id="datvis" max="100" value="70"> 70%
          </progress>
        </div>
        <span class="progress-text">Data Visualization</span>
        <div>
          <progress id="ctrl" max="100" value="60"> 60%
          </progress>
        </div>
        <span class="progress-text">Controls & PID Loops</span>
      </div>

      <!-- Grid Python -->
      <div class="grid-python">
        <h2>Python</h2>
        <a href="software/python"><img src=/images/logos/lang/python.png alt="Python"></a>
        <div>
          <progress id="pyexp" max="110" value="50"> 50%
          </progress>
        </div>
        <span class="progress-text">5 Years Experience</span>
        <div>
          <progress id="pypro" max="5" value="3"> 100%
          </progress>
        </div>
        <span class="progress-text">3 Major Inactive Projects</span>

        <div>
          <progress id="pydat" max="100" value="80"> 80%
          </progress>
        </div>
        <span class="progress-text">Data Import & Analysis</span>
        <div>
          <progress id="pysim" max="100" value="80"> 80%
          </progress>
        </div>
        <span class="progress-text">Cost/Labor Simulation</span>
        <div>
          <progress id="pyctrl" max="100" value="70"> 70%
          </progress>
        </div>
        <span class="progress-text">Controls Logic</span>
        <div>
          <progress id="pyvis" max="100" value="70"> 70%
          </progress>
        </div>
        <span class="progress-text">OpenCV/Vision Profiling</span>
        <div>
          <progress id="pyml" max="100" value="60"> 60%
          </progress>
        </div>
        <span class="progress-text">ML Learning/Training</span>
      </div>

      <!-- Grid Labview -->
      <div class="grid-labview">
        <h2>LabView</h2>
        <a href="software/labview"><img src=/images/logos/lang/labview.png alt="LabView"></a>
        <div>
          <progress id="file" max="11" value="9"> ~82%
          </progress>
        </div>
        <span class="progress-text">9 Years Experience</span>
        <div>
          <progress id="file" max="100" value="90"> 90%
          </progress>
        </div>
        <span class="progress-text">Graphical Programming</span>
        <div>
          <progress id="file" max="100" value="80"> 80%
          </progress>
        </div>
        <span class="progress-text">Controls Systems Programming</span>
        <div>
          <progress id="file" max="100" value="80"> 80%
          </progress>
        </div>
        <span class="progress-text">Data Acquisition</span>
        <div>
          <progress id="file" max="100" value="70"> 70%
          </progress>
        </div>
        <span class="progress-text">Data Visualization</span>
        <div>
          <progress id="file" max="100" value="65"> 65%
          </progress>
        </div>
        <span class="progress-text">Live Debugging</span>
      </div>

      <!-- Grid C-Suite -->
      <div class="grid-csuite">
        <h2>Object-Based C</h2>
        <a href="software/c"><img src=/images/logos/lang/c-suite.png alt="C-Suite"></a>
        <div>
          <progress id="file" max="110" value="90"> 90%
          </progress>
        </div>
        <span class="progress-text">9 Years Experience</span>
        <div>
          <progress id="file" max="100" value="90"> 90%
          </progress>
        </div>
        <span class="progress-text">Pointers, Interupts, O-OP</span>
        <div>
          <progress id="file" max="100" value="80"> 80%
          </progress>
        </div>
        <span class="progress-text">Data Structures & Algorithms</span>
        <div>
          <progress id="file" max="100" value="75"> 75%
          </progress>
        </div>
        <span class="progress-text">Memory Management & Optimization</span>
        <div>
          <progress id="file" max="100" value="75"> 75%
          </progress>
        </div>
        <span class="progress-text">.NET Framework</span>
        <div>
          <progress id="file" max="100" value="70"> 70%
          </progress>
        </div>
        <span class="progress-text">Event-Driven Programming</span>
        <div>
          <progress id="file" max="100" value="65"> 65%
          </progress>
        </div>
        <span class="progress-text">ML Algorithms</span>
      </div>
      <!-- Grid Java -->
      <div class="grid-java">
        <h2>Java</h2>
        <a href="software/java"><img src=/images/logos/lang/java.png alt="Python"></a>
        <div>
          <progress id="pyexp" max="110" value="100"> 100%
          </progress>
        </div>
        <span class="progress-text">10 Years Experience</span>
        <div>
          <progress id="pyexp" max="5" value="3"> 100%
          </progress>
        </div>
        <span class="progress-text">3 Active Projects</span>

        <div>
          <progress id="jserver" max="100" value="80"> 80%
          </progress>
        </div>
        <span class="progress-text">Java Server DevOps</span>
        <div>
          <progress id="joop" max="100" value="80"> 80%
          </progress>
        </div>
        <span class="progress-text">Object-Oriented Programming</span>
        <div>
          <progress id="jredev" max="100" value="70"> 70%
          </progress>
        </div>
        <span class="progress-text">JRE Development</span>
        <div>
          <progress id="jvmint" max="100" value="60"> 60%
          </progress>
        </div>
        <span class="progress-text">JVM Internals</span>
        <div>
          <progress id="jbt" max="100" value="60"> 60%
          </progress>
        </div>
        <span class="progress-text">BuildTools/Gradle</span>
      </div>
      <!-- Grid HTML -->
      <div class="grid-html">
        <h2>HTML5, CSS, & JS</h2>
        <a href="software/html5"><img src=/images/logos/lang/html.png alt="HTML5"></a>
        <div>
          <progress id="file" max="110" value="110"> 100%
          </progress>
        </div>
        <span class="progress-text">11 Years Experience</span>
        <div>
          <progress id="file" max="100" value="90"> 90%
          </progress>
        </div>
        <span class="progress-text">Tags, Attributes, Selectors</span>
        <div>
          <progress id="file" max="100" value="80"> 80%
          </progress>
        </div>
        <span class="progress-text">Responsive Design</span>
        <div>
          <progress id="file" max="100" value="80"> 80%
          </progress>
        </div>
        <span class="progress-text">CSS Frameworks</span>
        <div>
          <progress id="file" max="100" value="70"> 70%
          </progress>
        </div>
        <span class="progress-text">JS Frameworks</span>
        <div>
          <progress id="file" max="100" value="65"> 65%
          </progress>
        </div>
        <span class="progress-text">node.js</span>
        <div>
          <progress id="file" max="100" value="60"> 60%
          </progress>
        </div>
        <span class="progress-text">jQuery & React</span>

      </div>
      <!-- Add more tiles as needed... -->
    </div>
  </main>
  <footer>
    <%- include('const/footer') %>
  </footer>
</body