/* Global styles */

/* Import tiles.css */
@import url('/css/tiles/tiles.css');

/* Import progress-bar.css */
@import url('/css/progress-bar/progress-bar.css');

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header styles */
header {
    background-color: #212121;
    color: #ffffff;
    padding: 1rem;
}

header ul {
    display: inline-flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}


/* Navigation styles */
nav {
    
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #424242;
}
nav img {
    max-width: 128px;
    height: auto;
}
nav a {
    color: #e48c8c;
    text-decoration: none;
    margin: 0 .5rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Main content styles */
main {
    display: flex;
    padding: 1rem;
    margin-bottom: 4rem;
}

/* Footer styles */
footer {
    margin-top: 1rem;
    background-color: #212121;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    font-size: .8rem;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}