<!DOCTYPE html>
<html>

<head>
  <%- include('../const/head') %>
    <link rel="stylesheet" href="/css/tiles/engineering/tiles-add.css">
    <title>Additional Experience</title>
</head>

<body>
  <header>
    <%- include('../const/header') %>
      <h1>Additional Experience</h1>
  </header>
  <main>
    <!-- Grid layout for live tiles -->
    <div class="grid-container">
      <!-- Grid Conceptual Design -->
      <div class="grid-condes">
        <h2>Conceptual Design</h2>
        <img src=/images/icons/concept.png alt="concept">
        <p>Insert Text</p>
      </div>
      <!-- Grid Drafting -->
      <div class="grid-d2world">
        <h2>Drafting</h2>
        <img src="/images/icons/drafting.png" alt="drafting">
        <p>Object-Based C</p>
        <div>
          <progress id="file" max="100" value="20"> 20%
          </progress>
        </div>
        <span class="progress-text">2 Years Experience</span>
        <div>
          <progress id="file" max="100" value="100"> 100%
          </progress>
        </div>
        <span class="progress-text">High Technical Knowledge</span>
      </div>
      <!-- Grid Mechanical Simulation -->
      <div class="grid-worldsim">
        <h2>Real-World Simulation</h2>
        <img src="/images/icons/sim.png" alt="simulation">
        <p>Object-Based C</p>
        <div>
          <progress id="file" max="100" value="20"> 20%
          </progress>
        </div>
        <span class="progress-text">2 Years Experience</span>
        <div>
          <progress id="file" max="100" value="100"> 100%
          </progress>
        </div>
        <span class="progress-text">High Technical Knowledge</span>
      </div>

      <!-- Add more tiles as needed... -->
    </div>

    <!-- CSS styles for grid layout -->
  </main>
  <footer>
    <%- include('../const/footer') %>
  </footer>
</body>

</html>