<!DOCTYPE html>
<html>

<head>
  <%- include('../const/head') %>
    <link rel = "stylesheet" href = "/css/tiles/engineering/tiles-cad.css">
    <title>CAD Experience</title>
</head>

<body>
  <header>
    <%- include('../const/header') %>
      <h1>CAD Experience</h1>
  </header>
  <main>
    <!-- Grid layout for live tiles -->
    <div class="grid-container">
      <!-- Grid Inventor -->
      <div class="grid-inventor">
        <h2>Autodesk Inventor</h2>
        <img src=/images/logos/programs/inventor.png alt="inventor">
        <p>Insert Text</p>
      </div>
      <!-- Grid Autocad -->
      <div class="grid-autocad">
        <h2>Autodesk AutoCad</h2>
        <img src="/images/logos/programs/autocad.png" alt="autocad">
        <p>Object-Based C</p>
        <div>
          <progress id="file" max="100" value="20"> 20%
          </progress>
        </div>
        <span class="progress-text">2 Years Experience</span>
        <div>
          <progress id="file" max="100" value="100"> 100%
          </progress>
        </div>
        <span class="progress-text">High Technical Knowledge</span>
      </div>
      <!-- Grid Solidworks -->
      <div class="grid-solidworks">
        <h2>Solidworks</h2>
        <img src="/images/logos/programs/solidworks.png" alt="solidworks">
        <p>Object-Based C</p>
        <div>
          <progress id="file" max="100" value="20"> 20%
          </progress>
        </div>
        <span class="progress-text">2 Years Experience</span>
        <div>
          <progress id="file" max="100" value="100"> 100%
          </progress>
        </div>
        <span class="progress-text">High Technical Knowledge</span>
      </div>

      <!-- Add more tiles as needed... -->
    </div>

    <!-- CSS styles for grid layout -->
  </main>
  <footer>
    <%- include('../const/footer') %>
  </footer>
</body>

</html>