<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Cookie Consent by TermsFeed https://www.TermsFeed.com -->
    <script type="text/javascript" src=../views/const/cookie-consent.js charset="UTF-8"></script>
    <!-- Google Analytics -->
    <script type="text/plain" data-cookie-consent="tracking" src=../views/const/js.js></script>
    <!-- end of Google Analytics-->
    <script src=../views/const/cookie.js></script>
    <!-- End Cookie Consent by TermsFeed https://www.TermsFeed.com -->
</head>

<body>
    <nav>
        <ul>
            <a href="/engineering"><img src="/images/icons/eng.png" alt="eng"></a>
            <a href="/software"><img src="/images/icons/software.png" alt="software"></a>
            <a href="/"><img src="/images/icons/status/online.png" alt="home"></a>
            <a href="/projects"><img src="/images/icons/projects-a.png" alt="projects"></a>
            <a href="/about"><img src="/images/icons/about.png" alt="about"></a>
        </ul>
    </nav>
</body>

</html>