<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Cookie Consent by TermsFeed https://www.TermsFeed.com -->
    <script type="text/javascript" src="//www.termsfeed.com/public/cookie-consent/4.1.0/cookie-consent.js"
        charset="UTF-8"></script>
    <script type="text/javascript" charset="UTF-8">
        document.addEventListener('DOMContentLoaded', function () {
            cookieconsent.run({ "notice_banner_type": "headline", "consent_type": "express", "palette": "dark", "language": "en", "page_load_consent_levels": ["strictly-necessary"], "notice_banner_reject_button_hide": false, "preferences_center_close_button_hide": false, "page_refresh_confirmation_buttons": false, "website_name": "noaha.tech"/*,"website_privacy_policy_url":"example.com"*/ });
        });
    </script>
    <!-- Google Analytics -->
    <script type="text/plain" data-cookie-consent="tracking" async
        src="https://www.googletagmanager.com/gtag/js?id=G-JRMXMCDZF9"></script>
    <script type="text/plain" data-cookie-consent="tracking">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-JRMXMCDZF9', {
        });
    </script>
    <!-- end of Google Analytics-->
    <noscript>Free cookie consent management tool by <a href="https://www.termsfeed.com/">TermsFeed</a></noscript>
    <!-- End Cookie Consent by TermsFeed https://www.TermsFeed.com -->
</head>

<body>
    <nav>
        <ul>
            <a href="/engineering"><img src="/images/icons/eng.png" alt="eng"></a>
            <a href="/software"><img src="/images/icons/software.png" alt="software"></a>
            <a href="/"><img src="/images/icons/status/online.png" alt="home"></a>
            <a href="/projects"><img src="/images/icons/projects-a.png" alt="projects"></a>
            <a href="/about"><img src="/images/icons/about.png" alt="about"></a>
        </ul>
    </nav>
</body>

</html>